<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    {%block home%}
{%endblock%}
{%block index%}
{%endblock%}
<h2>this is the nav file</h2>
<a href="{{url_for('home')}}">click here</a>
<a href="{{url_for('sample')}}">click here</a>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore eius modi vel, repellat voluptatem eum dolore iusto cum. Odio dolore tenetur sunt est nobis corrupti ea repudiandae vero quidem consectetur?</p>
</body>
</html>